/* ? CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? Utils */
/* background */

.bgc_header{
    background-color: #ADD8E6;
    padding: 15px;
}

.bgc_conteiner.conteiner_large{
background-color: goldenrod;
}

.background_spotlight{
    background-color: #00008B;
    padding: 50px;
}

.conteiner_spotlight.bgc_conteiner_spotlight{
    background-color: #EE82EE;
}
/* ? Generics */

/* conteiner */

.conteiner_large{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.conteiner_spotlight{
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

/* Header */
#logo{
    height: 50px;
    flex-basis: 20%;
    border: 1px dashed;
}

.navigation{
    height: 50px;
    flex-basis: 60%;
    border: 1px dashed;
    
}

.login{
    height: 50px;
    flex-basis: 20%;
    border: 1px dashed;
    
}

.spotlight{
    height: 400px;
    flex-basis: 100%;
    border: 1px dashed;
}